body{
    margin:0px;
    border:0px;
    padding: 0px; 
}
section{
    width: 410px;
    height: 820px;
    background: #FFCA5C;
    text-align: center;
    position: relative;
}
.titulo{
    position: relative;
    top: 50px;
    width: 300px;
    height: 120px;
    border-radius: 15%;
}
.imgclassic{
    position:absolute;
    width: 350px;
    height: 550px;
    right: 30px;
    left: 30px;
    top: 180px;
    background:#F3FDFF;
    border-radius: 10%;
}
.btinicio{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 500px;
    left: 175px;
    border-radius: 50%;
}
.txtinicio{
    position: absolute;
    font-size: 35px;
    font-style: Arial;
    top: 250px;
    left: 125px;
}
.clasico{
    top: 50px;
    position: relative;
    left: 10px;
}


/*pausa*/



.juego{
    position: absolute;
    top: 200px;
    left: 30px;
    width: 350px;
    height: 350px;
}
.Tarjeta{
    border-radius: 25%;
    width: 175px;
    height: 175px;
}
.Estilo1{
    background:#ADF3FF;
}
.Estilo2{
    background: white;
}
.cerrarjuego{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 669px;
    margin: auto;
    left: 0px;
    right: 0px;

}

/*Pausa*/

.txtclassic{
    position: absolute;
    width: 410px;
    height:30px ;
    top: 100px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.crono_timed1{
    font-size: 40px;
    font-style: Arial;
    position: absolute;
    top: 104px;
    left: 162px;
}
.juego2{
    position: absolute;
    width: 300px;
    height: 450px;
    left: 57px;
    top: 200px;
    
}
.tarjeta2{
    width: 150px;
    height: 150px;
    border-radius: 25%;
}
.juego3{
    position: absolute;
    width: 270px;
    height: 480px;
    left: 82px;
    top: 188px;
}
.tarjeta3{
    width: 120px;
    height: 120px;
    border-radius: 25%;
}
.juego4{
    position: absolute;
    width: 350px;
    height: 466.4px;
    left: 29px;
    top: 206px;
}
.tarjeta4{
    width: 116.6px;
    height: 116.6px;
    border-radius: 25%;
}


.icon{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 267px;
}
#titulodone{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    position: absolute;
    width: 150px;
    height: 45px;
    right: 117px;
}
#txttiempo{
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    top: 144px;
    right: 197px;
}
#tiempodone{
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    top:136px;
    right: 122px;
}
#continuar{
    width: 100px;
    height: 40px;
    position: absolute;
    background: white;
    color: black;
    font-size: 20px;
    align-items: center;
    right: 25px;
    top: 253px;
}





