/*#show-modal{
    transition: all 0.15s linear;
}
#show-modal:hover{
    cursor: pointer;
}
.modal{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99999999;
    background: rgba(0,0,0,0.75);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;
}

.modal .content-modal{
    width: 380px;
    position: fixed;
    left: 264px;
    margin-top: 99px;
    top: -100vh;
    transition: top 0.35s ease;
    margin-left: -250px;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 0% 0% 10% 10%;
    z-index: 99999999;

}
.modal h2{
    text-align: center;
    color:#444444;
    margin: 0;
    padding-top: 8px;
}
.modal article{
    height: 300px;
    background: #ADF3FF;
    border-radius: 0% 0% 10% 10%;
    margin-top: 12px;
}
.close-modal{
    color: black;
    position: absolute;
    top: 11px;
    left: 13px;
    right: 5px;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    width: 40px;
    height: 40px;
}
.modal:target{
    opacity: 1;
    top: 0;

}
.modal:target .content-modal{
    top: 50px;
    transition: top 0.35s ease;
}
#titulodone{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    position: absolute;
    width: 150px;
    height: 45px;
    right: 117px;
}
#continuar{
    width: 100px;
    height: 40px;
    position: absolute;
    background: white;
    color: black;
    font-size: 20px;
    align-items: center;
    right: 25px;
    top: 253px;
}*/